<div id="top-bar">
    <h1 class="title">{{user.username}}'s <span class="light">bookmarks</span></h1>
    <ul id="user-settings">
        <li></li>
        <li> <a href="/#/logout"><img src="../img/btns/exit.png" /></a></li>
        <li></li>
    </ul>
</div>
<div class="search-engine-list-general">
    <ng-include src="'js/App/View/Bookmarks/searchEnginesList.html'" ng-controller="SearchEngineController"></ng-include>

</div>
<br>
<div class="categories-list-general" ng-controller="CategoryController" ng-cloak>

    <div class="favorite-category" >
        <ul class="favorite-list connection" ng-controller="FavoriteController" sortable="connection" save="saveBookmark(bookmark)" data-category="{{favorite.id}}">
            <li ng-repeat="bookmark in bookmarks" class="favorite-bookmark bookmark" bookmarkEl="false" data-bookmark="{{bookmark.id}}"></li>
        </ul>
        <div class="clr"></div>
    </div>


    <div class="categories-actions">
        <a ng-click="addCategory()">Add a category</a>
    </div>
    <ul class="categories-list" mansory="255">
        <li class="category-li" ng-repeat="category in categories" ng-controller="BookmarkController">
            <div class="category-general">
                <div class="category-header">
                    <h2 categoryedit>{{category.name}}</h2>
                    <div class="category-action">
                        <a ng-click="addFolder(category.id, currentParent)" style="display: none;">
                            <img src="/img/bookmark/folder.png" />
                        </a>

                        <a ng-click="removeCategory(category)">
                            <img src="/img/btns/croix.png" />
                        </a>

                        <a class="add-bookmark" ng-click="showAdd = !showAdd">
                            <img src="/img/btns/new-bookmark.png" />
                        </a>

                        <div class="clr"></div>

                    </div>

                    <div class="clr"></div>
                </div>

                <br>
                <div class="bookmarks-list-general" addbookmark="{{category.id}}" >
                    <!-- bookmark list -->
                    <ul class="bookmarks-list connection" sortable="connection" save="saveBookmark(bookmark)" data-category="{{category.id}}">
                        <li ng-show="currentParent" class="bookmark-back">
                            <a href="" ng-click="setParent(backElement)">
                                &lt; {{currentParent.name|truncate:24}}
                            </a>
                        </li>
                        <li ng-repeat="bookmark in bookmarks | filter: searchBookmark" class="bookmark" bookmarkEl data-bookmark="{{bookmark.id}}"></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<ul class="bin connection" sortable="connection" remove="removeBookmark()" ng-controller="BookmarkController">
    <li></li>
</ul>
