<a href="/#/logout">logout</a>
<div class="search-engine-list-general">
    <ng-include src="'js/App/View/Bookmarks/searchEnginesList.html'" ng-controller="SearchEngineController"></ng-include>

</div>
<div class="categories-list-general" ng-controller="CategoryController">

    <div class="favorite-category" >
        <ul class="favorite-list connection" ng-controller="FavoriteController" sortable="connection" save="saveBookmark(bookmark)" data-category="{{favorite.id}}">
            <li ng-repeat="bookmark in bookmarks" class="favorite-bookmark bookmark" data-bookmark="{{bookmark.id}}">
                <div ng-switch on="bookmark.bookmark_type_id">
                    <div ng-switch-when="1">
                        <a class="btn-edit-bookmark pointer" ng-click="editBookmark(bookmark)">
                            <img src="/img/bookmark/pen.png" ng-show="bookmark.showEditBtn" />
                        </a>
                        <a class="url-bookmark" ng-href="{{bookmark.url}}" target="_blank" title="{{bookmark.name}}">
                            <!--<img ng-src="http://www.google.com/s2/favicons?domain={{bookmark.url|removeHTTP}}" height="16" width="16"/>-->
                            <img ng-src="http://placehold.it/16x16" height="16" width="16"/>
                            {{bookmark.name}}
                        </a>
                    </div>
                    <div ng-switch-when="2">
                        <a class="btn-edit-bookmark pointer" ng-click="editBookmark(bookmark)">
                            <img src="/img/bookmark/pen.png" ng-show="bookmark.showEditBtn" />
                        </a>
                        <a class="url-bookmark" href="" title="{{bookmark.name}}" ng-click="setParent(bookmark)">
                            <img src="/img/bookmark/folder.png" />
                            {{bookmark.name}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clr"></div>
    </div>


    <a ng-click="addCategory()">+</a>
    <ul class="categories-list" mansory="200">
        <li class="category-li" ng-repeat="category in categories" ng-controller="BookmarkController">
            <div class="category-general">
                <div class="category-header" ng-mouseenter="showAction=true" ng-mouseleave="showAction=false">
                    <h2>{{category.name}}</h2>
                    <div ng-show="showAction" class="category-action">
                        <a ng-click="addFolder(category.id, currentParent)">
                            <img src="/img/bookmark/folder.png" />
                        </a>
                        <a ng-click="editCategory(category)">
                            <img src="/img/bookmark/pen.png" />
                        </a>
                        <a ng-click="removeCategory(category)">
                            <img src="/img/bookmark/delete.png" />
                        </a>
                    </div>
                </div>
                <div class="bookmarks-list-general" >

                    <ul class="bookmarks-list connection" sortable="connection" save="saveBookmark(bookmark)" data-category="{{category.id}}">
                        <li ng-show="currentParent" class="bookmark-back">
                            <a href="" ng-click="setParent(backElement)">
                                &lt; {{currentParent.name|truncate:24}}
                            </a>
                        </li>
                        <li ng-repeat="bookmark in bookmarks | filter: searchBookmark" class="bookmark" bookmarkEl data-bookmark="{{bookmark.id}}">
                            <div ng-switch on="bookmark.bookmark_type_id">
                                <div ng-switch-when="1">
                                    <a class="btn-edit-bookmark pointer" ng-click="editBookmark(bookmark)">
                                            <img src="/img/bookmark/pen.png" ng-show="bookmark.showEditBtn"  />
                                    </a>
                                    <a class="url-bookmark" ng-href="{{bookmark.url}}" target="_blank" title="{{bookmark.name}}">
                                        <!--<img ng-src="http://www.google.com/s2/favicons?domain={{bookmark.url|removeHTTP}}" height="16" width="16" />-->
                                        <img ng-src="http://placehold.it/16x16" height="16" width="16" />
                                        {{bookmark.name|truncate:24}}
                                    </a>
                                </div>
                                <div ng-switch-when="2">
                                    <a class="btn-edit-bookmark pointer" ng-click="editBookmark(bookmark)">
                                        <img src="/img/bookmark/pen.png" ng-show="bookmark.showEditBtn" />
                                    </a>
                                    <a class="url-bookmark" href="" title="{{bookmark.name}}" ng-click="setParent(bookmark)">
                                        <img src="/img/bookmark/folder.png" />
                                        {{bookmark.name|truncate:24}}
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="category-add-bookmark" style="display:none;" addbookmark="{{category.id}}">
                        <form ng-submit="send()">
                            <input class="input-add-bookmark add-bookmark-url" type="url" ng-required ng-model="newBookmark.url" placeholder="url" />
                            <input class="input-add-bookmark add-bookmark-name" type="text" ng-model="newBookmark.name" placeholder="name" style="display:none;" />
                            <button class="btn-add-bookmark btn-add-bookmark-url" type="button">Add</button>
                            <button class="btn-add-bookmark btn-add-bookmark-name" type="submit" style="display:none">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<ul class="bin connection" sortable="connection" remove="removeBookmark()" ng-controller="BookmarkController">
    <li></li>
</ul>
