<div class="search-engine-list">
    <div class="search-engine-list-int">
        
        <searchengineshortcut submit="setSelectedSearchEngine(searchEngine)" searchengines="searchEngines" hint="hint"></searchengineshortcut>
        <div ng-repeat="searchEngine in searchEngines" class="search-engine" ng-class="{selected: selectedSearchEngine.id==searchEngine.id}">
            <div class="hint" ng-show="hint">{{$index + 1}}</div>
            <img class="engine-on"  ng-src="/img/search-engines/on/{{searchEngine.logo}}" alt="{{searchEngine.name}}"  ng-click="setSelectedSearchEngine(searchEngine)" width="36" height="36" />
            <img class="engine-off" ng-src="/img/search-engines/off/{{searchEngine.logo}}" alt="{{searchEngine.name}}" ng-click="setSelectedSearchEngine(searchEngine)" width="36" height="36" />
        </div>

        <form ng-submit="searchFn()" class="form-search">
            <div ng-show="!searchBookmark">
                <input type="text" class="input-search" ng-model="search.value" ng-change="setSearchBookmark()" active="searchBookmark" focus/>
                <div id="reset-field" ng-click="search.value=''" ng-show="search.value!=''" >&times</div>
            </div>
            <!--the bookmarks search input-->
            <div ng-show="searchBookmark">
                <typeahead items="results" term="search.value" search="searchBookmarkFn(term)" select="searchFn" focus="refreshDataset()" blur="removeDataset()">
                    <div id="reset-field" ng-click="search.value=''" ng-show="search.value!=''" >&times</div>
                    <ul class="search-bookmark-results-list">
                        <li class="search-bookmark-result" ng-repeat="result in results" typeahead-item="result">
                            <div class="left">
                                <img ng-src="http://g.etfv.co/{{result.url}}?defaulticon=lightpng" height="16" width="16"/>
                            </div>
                            <div>
                                <p ng-bind-html-unsafe="result.display"></p>
                                <p class="cat">{{result.category}}<span ng-show="result.parentName"> / {{result.parentName}}</span></p>
                                <small>{{result.url|truncate:55}}</small>
                                <div class="clr"></div>
                            </div>
                        </li>
                    </ul>
                </typeahead>
            </div>

            <button class="btn-search" type="submit"><i></i></button>
        </form>
    </div>
</div>

