<div class="search-engine-list">
    <div class="search-engine-list-int">

        <div ng-repeat="searchEngine in searchEngines" class="search-engine" ng-class="{selected: selectedSearchEngine.id==searchEngine.id}">
            <searchengineshortcut position="$index +1" submit="setSelectedSearchEngine(searchEngine)" searchengine="searchEngine"></searchengineshortcut>
            <img class="engine-on"  ng-src="/img/search-engines/on/{{searchEngine.logo}}" alt="{{searchEngine.name}}"  ng-click="setSelectedSearchEngine(searchEngine)"/>
            <img class="engine-off" ng-src="/img/search-engines/off/{{searchEngine.logo}}" alt="{{searchEngine.name}}" ng-click="setSelectedSearchEngine(searchEngine)"/>
        </div>

        <form ng-submit="searchFn()" class="form-search">
            <div ng-show="!searchBookmark">
                <input type="text" class="input-search" ng-model="search.value" ng-change="setSearchBookmark()" active="searchBookmark" focus/>
                <div id="reset-field" ng-click="search.value=''" ng-show="search.value!=''" >&times</div>
            </div>
            <!--the bookmarks search input-->
            <div ng-show="searchBookmark">
                <typeahead items="results" term="search.value" search="searchBookmarkFn(term)" select="searchFn" focus="refreshDataset()" blur="removeDataset()">
                    <ul class="search-bookmark-results-list">
                        <li class="search-bookmark-result" ng-repeat="result in results" typeahead-item="result">
                            <div class="left">
                                <img ng-src="http://www.google.com/s2/favicons?domain={{result.url|removeHTTP}}" height="16" width="16"/>
                            </div>
                            <div>
                                <p ng-bind-html-unsafe="result.display"></p>
                                <small>{{result.category}}<span ng-show="result.parent"> / {{result.parent}}</span></small>
                            </div>
                        </li>
                    </ul>
                </typeahead>
            </div>

            <button class="btn-search" type="submit"><i></i></button>
        </form>
    </div>
</div>

