<!DOCTYPE html>
<html ng-app="bookmark">
 
<head>
   <title>Bookmarks</title>
</head>

<body>
    <div class="container">

     
        <div ng-view></div>
    </div>

    <script type="text/javascript" src="/bower/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/App/app.js"></script>
    <script type="text/javascript" src="/js/App/Controller/LoginController.js"></script>
    <script type="text/javascript" src="/js/App/Controller/CategoryController.js"></script>
    <script type="text/javascript" src="/js/App/Controller/BookmarkListController.js"></script>
    <script type="text/javascript" src="/js/App/Controller/SearchEngineController.js"></script>
</body>
</html>
