module.exports = {

    db: {
        host: "localhost",
        database: "bookmarks",
        user: "USER",
        password: "PASSWD",
        //
        database_test: "bookmarks_test"
    },

    port: 1337,
    debug: false
}
