
.category-general {
    padding:10px;
    background-color: white;
    width: 235px;
    .drop-shadow( 0px, 0px, 5px, 0.05);
    margin-right: 10px;
}

.categories-list {
    margin:0 auto;
}

.category-li {
    width:200px;
    display:block;
    vertical-align:top;
    margin:0;
}

.bin {
    width: 150px;
    height:170px;
    background:grey;
    position:fixed;
    bottom:0;
    right:0;
    visibility:hidden;
}


ul.search-bookmark-results-list{

    background:white;
    z-index:3;

    li.search-bookmark-result{
        padding:3px;
    }

    li.active {
        background:#096AAB;
        color:white;
    }
}