
.bin{
    position: fixed;
    width: 170px;
    height: 170px;
    visibility: visible !important;
    top: -175px;
    right: 70px;
    .transition(0.15s);
    .drop-shadow( 0px, 0px, 5px, 0.6);

    background: @black url("../img/trash.png") center no-repeat;

    &.visible{
        top: 0;
        &.opened{
            background-color: lighten(@black, 10%);
        }
    }
}

.ui-sortable-helper{
    position: absolute;
}

.categories-actions{
    text-align: center;
    margin: 5px 0;
    a{
        .transition(0.2s);
        display: inline-block;
        padding: 4px 8px;
        border: dashed darken(@lightgray, 5%) 1px;
        font-weight: bold;
        .rounded(15px);
        cursor: pointer;
        color: darken(@lightgray, 5%);
        &:hover{
            border: dashed darken(@lightgray, 15%) 1px;
            color: darken(@lightgray, 15%);
        }
    }
}

.category-general {

    background-color: white;
    width: 255px;

    .drop-shadow( 0px, 0px, 5px, 0.07);

    .category-header{
        padding: 10px 10px 0 10px;
        font-size: 14px;
        color: @black;
        font-weight: bold;
        width: 235px;

        h2{
            width: 190px;
            .left;
        }

        .category-action {

            width: 45px;

            .right;

            a{
                display: inline-block;
                opacity: 0.15;
                height: 20px;
                cursor: pointer;
                .transition(0.1s);

                &.add-bookmark{
                    float: left;
                }

            .right;
                img{
                    width: 20px;
                    height: 20px;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    .bookmarks-list-general{
        .category-add-bookmark{
            background-color: #f7f7f7;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: -10px;

            .input-add-bookmark{
                .rounded(2px);
                border: solid 1px @lightgray;
                padding: 3px;
                margin-top: 5px;
                font-size: 1em;
                font-weight: normal;
                width: 197px;
                .left;
            }
            .btn-add-bookmark{
                height: 25px;
                width: 30px;
                background: none;
                background-color: @black;
                border: 0;
                padding: 0;
                border: solid 1px black;
                color: white;
                .left;
                margin-top: 5px;
                cursor: pointer;
                &:hover{
                    background-color: lighten(@black, 10%);
                    border: solid 1px lighten(black, 10%);
                }
            }
            label{
                &:first-child{
                    margin-right: 15px;
                }
                >*:first-child{
                    margin-right: 5px;
                }
            }
        }

        .bookmarks-list{
            padding: 0 10px 10px 10px;

            .bookmark:not(:last-child){
                margin-bottom: 7px;
            }

            .ui-sortable-placeholder{
                height:16px;
            }

            .bookmark a {

                .transition(0s);

                img{
                    margin-right: 5px;
                }

                *{
                    vertical-align: top;
                }
            }

            &.folder{
                li:not(.bookmark-back){
                    padding-left: 20px;
                }
                li.bookmark-back{

                    margin-bottom: 7px;
                    
                    a{
                        font-style: italic;
                        padding-left: 20px;
                        background: transparent url("../img/openfolder-icon.png") left top no-repeat;
                    }
                }
            }
            &.dragging{
                li.drop-into{
                    border-style: solid;
                    border-width: 1px;
                    -moz-border-image: url("../img/bookmark/border.png") 1 repeat;
                    -webkit-border-image: url("../img/bookmark/border.png") 1 repeat;
                    -o-border-image: url("../img/bookmark/border.png") 1 repeat;
                    border-image: url("../img/bookmark/border.png") 1 repeat;
 
                    padding:2px 0 2px 20px;
                    background: url("../img/bookmark/into-folder.png") 2px 2px no-repeat;
                }
                ul.sub-folder{
                    display:block !important;
                }
            }



            li.folder{
                position:relative;
                ul.sub-folder{
                    display:none;
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:16px;
                    li{
                        padding:0 !important;
                        margin:0 !important;
                    }
                }
            }





            

            .bookmark a.url-bookmark{
                display:block;
            }
            .bookmark a.btn-edit-bookmark{
                float: left;
                display: block;
                .transition(0.1s);
                &:hover{
                    .rotation(-10deg);
                }
            }
        }
    }

    hr{
        margin: 7px 0px 10px 0
    }

}

.categories-list {
    margin:0 auto;
}

.category-li {
    width:255px;
    display:block;
    vertical-align:top;
    margin:0;
}

