.favorite-category {
    border-bottom: 1px solid @lightgray;
    background-color: white;
    text-align: left;
	padding: 12px 25%;
	margin: 0 auto;

    li{
   		display:inline-block;
   		text-align: left;
   		.url-bookmark{
   			width: 160px;
   			text-align: left;
   			float: none;
   			display: block;
   		}
    }

}

.categories-list{
	overflow: visible !important;
}