@import "vars.less";
@import "reset.less";

@import "modal.less";

.pointer {
    cursor: pointer;
}

.hide {
    display:none;
}

/** This is sale it need to be ranged */
.favorite-category {
    border:1px solid gray;
    height:20px;
}
.favorite-list li{
    display:inline-block;
}
.category-general {
    width:100%;
}

.categories-list {
    position: relative;
    width:100%;
}
.category-li {
    width:200px;
    position:absolute;
    margin:0;
    padding:3px;
    border:1px solid gray;
}

.bin {
    width: 150px;
    height:170px;
    background:grey;
    position:fixed;
    bottom:0;
    right:0;
    visibility:hidden;
}
