#top-bar{

	background-color: @black;
	color: white;
	padding: 3px 0 7px 0;

	.title{
		color: white;
		font-size: 2em;
		text-align: center;
	}

	#user-settings{
		display: block;
		position: absolute;
		top: 7px;
		right: 10px;
	}
}