<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div class="modal-header">
    <h3>{{title}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <form ng-submit="save()">
        <div class="edit-bookmark-group">
            <label>Name : <input type="text" class="edit-bookmark-name" ng-model="bookmark.name" placeholder="Name" autofocus="autofocus" /></label>
        </div>
        <div class="edit-bookmark-group">
            <label>Url : <input type="text" class="edit-bookmark-url" ng-model="bookmark.url" placeholder="Url" type="url" /></label>
        </div>
        <div class="edit-bookmark-group">
            <label>Category : 
                <select ng-model="bookmark.category_id" ng-options="c.id as c.name for c in categories"></select>
            </label>
        </div>

        <div class="modal-action">
            <button type="submit" class="btn" >Save</button>
        </div>
    </form>
</div>

