<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div class="modal-header">
    <h3>Edit bookmark</h3>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <form>
        <div class="edit-bookmark-group">
            <label>Name : <input type="text" class="edit-bookmark-name" value="{{bookmark.name}}" placeholder="Name" /></label>
        </div>
        <div class="edit-bookmark-group">
            <label>Url : <input type="text" class="edit-bookmark-url" value="{{bookmark.url}}" placeholder="Url" type="url" /></label>
        </div>
    </form>
</div>
<div class="modal-action">
    <button type="button" class="btn" ng-click="save()">Save</button>
</div>
