module.exports = function(mysql, test){

    var data = {
        host     : 'localhost',
        database : 'bookmarks',
        user     : 'USER',
        password : 'PSWD',
    };
    if(test) {
        data.database = 'bookmarks_test';
        data.multipleStatements = true;
    }

    connection.connect(data);

    return connection;
}
