module.exports = function(mysql, test){

    var dataBaseName = 'bookmarks';
    if(!test) {
        dataBaseName = 'bookmarks_test';
    }
    
    var connection = mysql.createConnection({
        host     : 'localhost',
        database : dataBaseName,
        user     : 'USER',
        password : 'PASS',
    });

    connection.connect();

    return connection;
}
