* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 12px;
}
ul {
  list-style: none;
}
.clr {
  clear: both;
}
.modal-backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
}
.modal {
  position: fixed;
  left: 50%;
  width: 560px;
  margin-left: -280px;
  z-index: 1050;
  background: white;
  top: 20%;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
/** This is sale it need to be ranged */
.favorite-category {
  border: 1px solid gray;
  height: 20px;
}
.favorite-list li {
  display: inline-block;
}
.category-general {
  padding: 3px;
  border: 1px solid gray;
}
.categories-list {
  margin: 0 auto;
}
.category-li {
  width: 200px;
  display: block;
  vertical-align: top;
  margin: 0;
}
.bin {
  width: 150px;
  height: 170px;
  background: grey;
  position: fixed;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
