/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  outline: none !important;
}
body {
  font-size: 12px;
  background-color: #f7f7f7;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #404040;
}
ul {
  list-style: none;
}
:link,
:visited,
ins {
  color: inherit;
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
kbd {
  font-size: 1em;
}
dl,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
form,
fieldset,
input,
label {
  line-height: inherit;
}
abbr,
img,
object,
a img,
:link img,
:visited img,
a object,
:link object,
:visited object {
  border: 0;
}
address,
abbr {
  font-style: normal;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
label,
input,
button,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: normal;
}
.clr {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
small {
  font-size: 0.8em;
}
.light {
  font-weight: 300;
}
.dots {
  background: transparent url("../img/dots.gif");
}
br {
  margin: 0;
  padding: 0;
  display: block;
  content: "";
  height: 1px;
  background: #ffffff url("../img/dots.gif") top left repeat;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  font-weight: 300;
  border: solid 1px #bebebe;
  padding: 3px;
  font-size: 1.5em;
}
button {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  padding: 7px;
  background: none;
  background-color: #404040;
  border: 0;
  border: solid 1px black;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  background-color: #5a5a5a;
  border: solid 1px #1a1a1a;
}
a,
button {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
}
.modal {
  position: fixed;
  left: 50%;
  width: 380px;
  margin-left: -190px;
  z-index: 1050;
  background: white;
  top: 20%;
  padding: 10px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.modal .modal-header {
  margin-bottom: 15px;
}
.modal .modal-header h3 {
  font-size: 2em;
  font-weight: 300;
}
.modal .edit-bookmark-group {
  margin-top: 15px;
}
.modal select {
  display: block;
  margin-top: 5px;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.modal input[type="text"] {
  margin-top: 5px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
}
.modal .modal-action {
  margin-top: 15px;
  width: 100%;
}
.modal .modal-action button {
  margin-top: 5px;
}
.modal .close {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: absolute;
  top: 1px;
  right: 10px;
  padding: 0;
  border: 0;
  background: none;
  color: #bebebe;
  font-size: 2em;
  cursor: pointer;
}
.modal .close:hover {
  color: #404040;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
#top-bar {
  background-color: #404040;
  color: white;
  padding: 2px 0 5px 0;
}
#top-bar .title {
  color: white;
  font-size: 2em;
  text-align: center;
}
#top-bar #user-settings {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
#top-bar #user-settings a {
  display: block;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#top-bar #user-settings a img {
  padding: 2px;
  width: 22px;
  height: 22px;
}
#top-bar #user-settings a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.search-engine-list-int {
  padding: 20px 0;
  text-align: center;
  background-color: white;
}
.search-engine-list-int > * {
  display: inline-block;
  vertical-align: top;
}
.search-engine-list-int .form-search {
  position: relative;
  height: 40px;
  padding-left: 40px;
  background: transparent url("../img/fleche-search.gif") left center no-repeat;
}
.search-engine-list-int .form-search #reset-field {
  position: absolute;
  top: 3px;
  font-size: 2em;
  right: 95px;
  cursor: pointer;
}
.search-engine-list-int .form-search > * {
  display: inline-block;
  vertical-align: middle;
}
.search-engine-list-int .form-search input[type="text"] {
  background-color: white;
  border: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #bebebe;
  width: 300px;
  height: 22px;
  padding: 8px;
}
.search-engine-list-int .form-search button {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  text-decoration: none;
  border: 0;
  background: 0;
  margin-left: -4px;
  border: solid 1px black;
  background: #404040 url("../img/loupe.png") center center no-repeat;
  height: 40px;
  width: 85px;
  cursor: pointer;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search-engine-list-int .form-search button:hover {
  background: #5a5a5a url("../img/loupe.png") center center no-repeat;
  border-color: #1a1a1a;
}
.search-bookmark-results-list {
  width: 300px;
  padding: 8px;
  text-align: left;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.search-bookmark-results-list li {
  cursor: pointer;
}
.search-bookmark-results-list li img {
  margin-right: 5px;
}
.favorite-category {
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  text-align: center;
  padding: 12px 20%;
  margin: 0 auto;
}
.favorite-category .bookmark {
  display: inline-block;
  text-align: left;
}
.favorite-category .bookmark .url-bookmark {
  text-align: left;
  float: none;
  display: block;
}
.favorite-category .bookmark a {
  margin: 0 10px 8px 7px;
}
.favorite-category .bookmark a img {
  margin-top: -1px;
  margin-right: 5px;
}
.favorite-category .bookmark a * {
  vertical-align: middle;
}
.categories-list {
  overflow: visible !important;
}
.bin {
  position: fixed;
  background-color: #404040;
  width: 170px;
  height: 170px;
  visibility: visible !important;
  top: -175px;
  right: 70px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.bin.visible {
  top: 0;
}
.bin.visible.opened {
  background-color: red;
}
.ui-sortable-helper {
  position: absolute;
}
.categories-actions {
  text-align: center;
  margin: 5px 0;
}
.categories-actions a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
  padding: 4px 8px;
  border: dashed #e1e1e1 1px;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #e1e1e1;
}
.categories-actions a:hover {
  border: dashed #c8c8c8 1px;
  color: #c8c8c8;
}
.category-general {
  background-color: white;
  width: 255px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
}
.category-general .category-header {
  padding: 10px 10px 0 10px;
  font-size: 14px;
  color: #404040;
  font-weight: bold;
  width: 235px;
}
.category-general .category-header h2 {
  width: 190px;
  float: left;
}
.category-general .category-header .category-action {
  width: 45px;
  float: right;
}
.category-general .category-header .category-action a {
  display: inline-block;
  opacity: 0.15;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  float: right;
}
.category-general .category-header .category-action a.add-bookmark {
  float: left;
}
.category-general .category-header .category-action a img {
  width: 20px;
  height: 20px;
}
.category-general .category-header .category-action a:hover {
  opacity: 1;
}
.category-general .bookmarks-list-general .category-add-bookmark {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
}
.category-general .bookmarks-list-general .category-add-bookmark .input-add-bookmark {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #eeeeee;
  padding: 3px;
  margin-top: 5px;
  font-size: 1em;
  font-weight: normal;
  width: 197px;
  float: left;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.category-general .bookmarks-list-general .category-add-bookmark .btn-add-bookmark {
  height: 25px;
  width: 30px;
  background: none;
  background-color: #404040;
  border: 0;
  padding: 0;
  border: solid 1px black;
  color: white;
  float: left;
  margin-top: 5px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.category-general .bookmarks-list-general .category-add-bookmark .btn-add-bookmark:hover {
  background-color: #5a5a5a;
  border: solid 1px #1a1a1a;
}
.category-general .bookmarks-list-general .category-add-bookmark label:first-child {
  margin-right: 15px;
}
.category-general .bookmarks-list-general .category-add-bookmark label > *:first-child {
  margin-right: 5px;
}
.category-general .bookmarks-list-general .bookmarks-list {
  padding: 0 10px 10px 10px;
}
.category-general .bookmarks-list-general .bookmarks-list .bookmark:not(:last-child) {
  margin-bottom: 7px;
}
.category-general .bookmarks-list-general .bookmarks-list .bookmark a img {
  margin-right: 5px;
}
.category-general .bookmarks-list-general .bookmarks-list .bookmark a * {
  vertical-align: top;
}
.category-general br {
  margin: 7px 0px 10px 0;
}
.categories-list {
  margin: 0 auto;
}
.category-li {
  width: 255px;
  display: block;
  vertical-align: top;
  margin: 0;
}
ul.search-bookmark-results-list {
  background: white;
  z-index: 3;
}
ul.search-bookmark-results-list li.search-bookmark-result {
  padding: 3px;
}
ul.search-bookmark-results-list li.active {
  background: #096AAB;
  color: white;
}
.login-form-general,
.register-form-general {
  position: fixed;
  left: 50%;
  width: 380px;
  margin-left: -190px;
  z-index: 1050;
  background: white;
  top: 20%;
  padding: 10px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.login-form-general input,
.register-form-general input {
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
}
.login-form-general input[type="checkbox"],
.register-form-general input[type="checkbox"] {
  width: inherit;
}
.login-form-general h1,
.register-form-general h1 {
  font-size: 2.5em;
  font-weight: 300;
}
.login-form-general .form-action,
.register-form-general .form-action {
  margin-top: 15px;
}
.login-form-general .register-link,
.register-form-general .register-link {
  font-size: 1.5em;
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
  left: 0;
  font-style: italic;
  color: #bebebe;
  cursor: pointer;
}
.login-form-general .register-link:hover,
.register-form-general .register-link:hover {
  color: #404040;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
